body {
    overflow: hidden; 
}

html{
    height: 100%;
    width: 
}

.bar-content{
    color: white;
}

.title{
    font-size: 25px;
    font-weight: 200;
    text-align: center;
}

.btn-left{
    margin-top: 15px;
}

.home-btn{
    font-size: 20px;
    height:40px;
    text-align: center;
    margin-right:10px;
}

.well{
    border-radius: 0px;
}


.list-header{
    margin-top: 10px;
}

.list-header-title{
    color:black;
}

.container-fluid{
    padding-left: 0px;
    padding-right: 0px;
}

.navbar{
    margin-bottom: 0px;
    border-radius: 0px;
}

.dropdown{
   padding: 10px 0 0 15px;
}


#filter{
    font-size: 18px;
}

.dropdown li {
    font-size: 16px;
}

.location-arrow{
    text-align: right;
    padding: 15px 15px 15px 0;
}

#map{
    height: 1010px;
}

.map-view{
    padding-left: 0px;
}

.list-view{
    padding: 0 0 0 15px;
}

.list-item{
    font-size: 20px;
    font-weight: 200;
}

.list-container{
    overflow-y: scroll;
    max-height: 1010px;
}


